<table class="ui table">
    <thead>
        <!-- <tr>
        <td>hi</td>
        <td>hi</td>
        <td>hi</td>
    </tr> -->
        <tr>
            <th *ngFor="let header of headers;let i = index">
                {{header.label}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of data">
            <td *ngFor="let header of headers">
                {{ record[header.key] }}
            </td>
            <!-- <td>
                {{record.name }}
            </td>
            <td>
                {{record.age }}
            </td>
            <td>
                {{record.job }}
            </td> -->
        </tr>
    </tbody>
</table>